.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.question-text {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.answer-text {
  font-size: 1rem;
  font-weight: regular;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.answer-text:hover {
  background-color: #fafafa;
}

.answer-text-selected {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.submit-button {
  font-size: 1rem;
  color: white;
  width: 200px;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: black;
}

.answer-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.correct-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
  margin-top: 1rem;
  margin-left: 1.2rem;
}

.incorrect-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  margin-top: 1rem;
  margin-left: 1.2rem;
}
